
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #1A1B23;
    color:white;
}
a{
    text-decoration:none;
}

#play-video {
    padding: 3rem;
    margin: auto;
    text-align: center;
  }

  #play-video #video {
    width: 50%;
    height: 400px;
  }
.btn {
    display: inline-block;
    padding: 0.4rem 1.5rem;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #6C63FF;
  }
#pricing {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem 0.2rem;
    flex-wrap: wrap;
    margin-bottom: 60px;
  }

  .price-box {
    border: solid white 1px;
    border-radius: 4px;
    text-align: center;
    margin-bottom:60px;

  }

  .price-box:first-child {
    margin-right: 1.2rem;
  }

  .price-box:last-child {
    margin-left: 1.2rem;
  }

  .price-box h3 {
    background-color: #6C63FF;
    font-size: 1.05rem;
    padding: 1rem;
  }

  .price-box h2 {
    padding: 1rem;
  }

  .price-box p {
    padding: 0 4rem 1rem;
  }

  .price-box .btn {
    display: inline-block;
    margin: 1rem;
  }
  #main-footer {
    background-color: #6C63FF;
    padding: 1rem 4rem;
    margin-top: 2rem;
    display: flex;
    justify-content: right;
    overflow: hidden;
    margin:0 10% 0 10%;
    flex-wrap: wrap;
  }

  #main-footer div a {
    color: white ;
    padding: 0.5rem 1rem;
  }

  #fcs {
    text-decoration: underline;
    color: white;
  }

  @media only screen and (max-width: 800px) {
    #play-video {
        padding: 1rem;
    }
    #play-video #video {
        width: 80%;
        height: 30%;
    }

  }

